form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}


input, textarea {
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 2px;
  min-width: 400px;
}

textarea {
  min-height: 150px;
}
