body {
  font-family: sans-serif;
  margin: 0px;
}

main {
  font-size: 18px;
}

a {
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }

  a, a:visited {
    color: #0d9cdb;
  }
